body {
            /* ... kode lainnya ... */
            background-image: url('ubur.png'); /* Ini yang baru */
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            /* ... kode lainnya ... */
        }
```http://googleusercontent.com/image_generation_content/0